<% include ./partials/header %>

	<div class="row">
        <div class="col-md-12">
            <form class="form-signin" action="/reset/<%= token %>" method="POST">
              <h1 class="h3 mb-3 font-weight-normal text-center">Reset Password</h1>
              <div class="form-group">
	              <label for="inputPassword" class="sr-only">New Password</label>
	              <input type="password" id="inputPassword" class="form-control" name="email" placeholder="New password" required autofocus>
	              
	              <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
	              <input type="password" id="inputConfirmPassword" class="form-control" name="confirm" placeholder="Confirm password"  required autofocus>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
            </form>
            <div class="form-signin">
                <a href="/campgrounds">Go Back</a>
            </div>
        </div>
    </div>
   
<% include ./partials/footer %>